@import url('https://fonts.googleapis.com/css?family=Gothic+A1:100,200,300,400,500,600,700,800,900');

/* Mozilla based browsers */
::-moz-selection {
       background-color: #983D7B;
       color: #272320;
}

/* Works in Safari */
::selection {
       background-color: #983D7B;
       color: #272320;
}

*{
  font-family: 'Gothic A1', sans-serif;
  margin:0;
}

body{
  padding:0;
  margin:0;
  background:#f2f2f2;
}

.poster{
  background:#272320;
  width:100%;
  position:relative;
  padding:44px 66px;
  box-sizing:border-box;
  width:720px;
  margin:22px auto 22px auto;
  cursor:pointer;
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
}

.bottom-container{
  position: absolute;
  bottom:0;
  left:0;
  display:flex;
  width:100%;
  justify-content:space-between;
  padding:44px 66px;
  box-sizing: border-box;
}

.bottom-container .column{
  color:#FFF;
  margin:0 22px;
  width:150px;
}

.bottom-container .column:first-child{
  margin:0 22px 0 0;
}

.bottom-container .column:last-child{
  margin:0 0 0 22px;
}

.bottom-container p{
  font-weight:300;
  margin-bottom: 11px;
  font-size: 12px;
  text-transform: uppercase;

}

#recursive-wrapper{
  position:absolute;
  top:66px;
}

#recursive-container{
  position:absolute;
}

.recursive-title{
  color:#983D7B;
  font-size:110px;
  line-height: 110px;
  font-weight:900;
  position:absolute;
  top:0;
  text-transform: lowercase;
  transform:rotate(0deg);
  white-space: nowrap;
  display:block;
  transition:transform 0.5s ease-in-out;
}

#recursive-container.initial .recursive-title{
  transform:rotate(0deg) translate(-50%,-50%) !important;
}

.top-color{
  color:#b34891;
  z-index:1;
}

.interlude{
  color:#E2AAC7;
  position: absolute;
  top:100%;
  right:32px;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}


.outro{
  color:#000;
  position: fixed;
  bottom:0;
  left:0;
  margin:44px;
  font-size:18px;
  font-weight:600;
}

.outro a{
  color:#983D7B;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.outro a:hover{
  opacity:0.8;
}
